<component name="ArtifactManager">
  <artifact type="war" name="spring_jdbc:war">
    <output-path>$PROJECT_DIR$/spring_jdbc/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_jdbc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_jdbc.war">
      <element id="artifact" artifact-name="spring_jdbc:war exploded" />
    </root>
  </artifact>
</component>