<component name="ArtifactManager">
  <artifact type="war" name="spring_tx:war">
    <output-path>$PROJECT_DIR$/spring_tx/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_tx</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_tx.war">
      <element id="artifact" artifact-name="spring_tx:war exploded" />
    </root>
  </artifact>
</component>