<component name="ArtifactManager">
  <artifact type="war" name="mybatis_anno:war">
    <output-path>$PROJECT_DIR$/mybatis_anno/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis_anno</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis_anno.war">
      <element id="artifact" artifact-name="mybatis_anno:war exploded" />
    </root>
  </artifact>
</component>